<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="uploadFilesStep">
    <form [formGroup]="uploadFilesStep" class="content-container">
      <ng-template matStepLabel>Import JSON files</ng-template>
      <div class="content upload-container">
        <app-file-upload type="json" [options]="fileOptions" name="JobFairJSON file" (fileReady)="onJobFairJSONReady($event)"></app-file-upload>
        <app-file-upload type="json" [options]="fileOptions" name="PackagesJSON file" (fileReady)="onPackagesJSONReady($event)"></app-file-upload>
      </div>
      <div class="step-controls">
        <button mat-raised-button color="primary" matStepperNext [disabled]="uploadFilesStep.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="basicInfoStep">
    <form [formGroup]="basicInfoStep" class="content-container">
      <ng-template matStepLabel>Basic Info</ng-template>
      <div class="content">
        <div class="form__content--split">
          <div class='form__content--split__side'>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Place</mat-label>
              <input matInput formControlName="place">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Start Date</mat-label>
              <input matInput readonly [matDatepicker]="pickerStartDate" formControlName="startDate">
              <mat-datepicker-toggle matSuffix disabled [for]="pickerStartDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>End Date</mat-label>
              <input matInput readonly [matDatepicker]="pickerEndDate" formControlName="endDate">
              <mat-datepicker-toggle matSuffix disabled [for]="pickerEndDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class='form__content--split__side'>
            <mat-form-field appearance="standard">
              <mat-label>Start Time</mat-label>
              <input matInput readonly [disableClick]="true" [ngxTimepicker]="startTimePicker" formControlName="startTime">
              <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>End Time</mat-label>
              <input matInput readonly [disableClick]="true" [ngxTimepicker]="endTimePicker" formControlName="endTime">
              <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="full-width">
          <mat-chip-list #areaList>
            <mat-chip *ngFor="let area of areaControls.controls;let i = index" [selectable]="true" [removable]="true"
              (removed)="onRemoveArea(i)">
              {{area.value}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="areaList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="onAddArea($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="step-controls">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="basicInfoStep.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="advancedInfoStep">
    <form [formGroup]="advancedInfoStep" class="content-container">
      <ng-template matStepLabel>Advanced Info</ng-template>
      <div class="content">
        <app-file-upload type="image" [options]="imageOptions" name="JobFair Logo" (fileReady)="onJobFairLogoReady($event)"></app-file-upload>
        <ul class="schedule-list" formArrayName="schedules">
          <li *ngFor="let schedule of scheduleControls.controls;let i = index" [formGroupName]="i" class="full-width">
            <mat-form-field appearance="standard">
              <mat-label>Area</mat-label>
              <mat-select formControlName="area">
                <mat-option *ngFor="let area of areaControls.controls" [value]="area.value">
                  {{area.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of jobFairScheduleTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>From</mat-label>
              <input matInput readonly [disableClick]="true" [ngxTimepicker]="scheduleFromTimePicker" formControlName="from" />
              <ngx-material-timepicker #scheduleFromTimePicker></ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>To</mat-label>
              <input matInput readonly [disableClick]="true" [ngxTimepicker]="scheduleToTimePicker" formControlName="to" />
              <ngx-material-timepicker #scheduleToTimePicker></ngx-material-timepicker>
            </mat-form-field>
          </li>
        </ul>
      </div>
      <div class="step-controls">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="advancedInfoStep.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="packageStep">
    <form [formGroup]="packageStep" class="content-container">
      <ng-template matStepLabel>Package information</ng-template>
      <div class="content">
        <h1>Packages Info</h1>
        <ul formArrayName="packages">
          <li *ngFor="let package of packageControls.controls;let i = index" [formGroupName]="i">
            <div class="form__content--split">
              <div class="form__content--split__side">
                <mat-form-field appearance="standard">
                  <mat-label>Title</mat-label>
                  <input matInput formControlName="title" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>Video Promotion</mat-label>
                  <input matInput type="number" formControlName="videoPromotion" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>Lessons count</mat-label>
                  <input matInput type="number" formControlName="numOfLessons" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>Workshops count</mat-label>
                  <input matInput type="number" formControlName="numOfWorkshops" />
                </mat-form-field>
              </div>
              <div class="form__content--split__side">
                <mat-form-field appearance="standard">
                  <mat-label>Presentations count</mat-label>
                  <input matInput type="number" formControlName="numOfPresentations" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>Total no. companies</mat-label>
                  <input matInput type="number" formControlName="totalNumOfCompanies" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>Price</mat-label>
                  <input matInput formControlName="price" />
                </mat-form-field>
              </div>
            </div>
            <ul formArrayName="content">
              <button mat-button (click)="onAddContentToPackage(i)">
                <mat-icon>add</mat-icon>
                Add
              </button>
              <li *ngFor="let cnt of package.get('content').controls;let j = index">
                <button mat-button (click)="onRemoveContentFromPackage(i, j)">
                  <mat-icon>remove</mat-icon>
                </button>
                <mat-form-field class="content-field" appearance="standard">
                  <mat-label>Content</mat-label>
                  <textarea matInput [formControlName]="j"></textarea>
                </mat-form-field>
              </li>
            </ul>
            <mat-divider></mat-divider>
          </li>
        </ul>
        <h1>Optional Services Info</h1>
        <ul formArrayName="services">
          <button mat-button (click)="onAddService()">
            <mat-icon>add</mat-icon>
            Add
          </button>
          <li class="service-item" *ngFor="let service of serviceControls.controls;let i = index" [formGroupName]="i">
            <button class="remove-button" mat-button (click)="onRemoveService(i)">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field class="price-field" appearance="standard">
              <mat-label>Price</mat-label>
              <input matInput type="number" formControlName="price" />
            </mat-form-field>
            <mat-form-field class="description-field" appearance="standard">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </li>
        </ul>
      </div>
      <div class="step-controls">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="packageStep.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalize</ng-template>
    <div class="content-container">
      <div class="content">
        <h1>Basic Info</h1>
        <div class="label-container">
          <app-label-field [value]="formValues.name" label="Name"></app-label-field>
          <app-label-field [value]="formValues.startDate | date" label="Start Date"></app-label-field>
          <app-label-field [value]="formValues.endDate | date" label="End Date"></app-label-field>
          <app-label-field [value]="formValues.startTime" label="Start Time"></app-label-field>
          <app-label-field [value]="formValues.endTime" label="End Time"></app-label-field>
          <app-label-field [value]="formValues.place" label="Place"></app-label-field>
          <app-label-field [value]="formValues.description" label="Description"></app-label-field>
        </div>
        <mat-divider></mat-divider>
        <h1>Areas</h1>
        <ul *ngFor="let area of formValues.areas">
          <li>{{area}} </li>
        </ul>
        <mat-divider></mat-divider>
        <h1>Schedules</h1>
        <ul *ngFor="let schedule of formValues.schedules">
          <li class="label-container">
            <app-label-field [value]="schedule.type" label="Type"></app-label-field>
            <app-label-field [value]="schedule.area" label="Area"></app-label-field>
            <app-label-field [value]="schedule.from" label="From"></app-label-field>
            <app-label-field [value]="schedule.to" label="To"></app-label-field>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <h1>Packages</h1>
        <ul *ngFor="let package of formValues.packages">
          <li>
            <div class="label-container">
              <app-label-field [value]="package.title" label="Title "></app-label-field>
              <app-label-field [value]="package.videoPromotion" label="Video promotion"></app-label-field>
              <app-label-field [value]="package.numOfLessons" label="Num of lessons"></app-label-field>
              <app-label-field [value]="package.numOfWorkshops" label="Num of workshops"></app-label-field>
              <app-label-field [value]="package.numOfPresentations" label="Num of presentations"></app-label-field>
              <app-label-field [value]="package.totalNumOfCompanies" label="Total num of companies"></app-label-field>
              <app-label-field [value]="package.price" label="price"></app-label-field>
            </div>
            <h2 class="package-content">Additional Content</h2>
            <ul *ngFor="let content of package.content">
              <li>{{content}}</li>
            </ul>
          </li>
          <mat-divider></mat-divider>
        </ul>
        <mat-divider></mat-divider>
        <h1>Optional Services</h1>
        <ul *ngFor="let service of formValues.services">
          <li class="label-container">
            <app-label-field [value]="service.price" label="Price"></app-label-field>
            <app-label-field [value]="service.description" label="Description"></app-label-field>
          </li>
          <mat-divider></mat-divider>
        </ul>
      </div>
      <div class="step-controls step-controls--wide">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="onSubmit()">
          <div class="form__submit">
            <span>Submit</span>
            <ng-container *ngIf="loading">
              <mat-spinner [diameter]="20"></mat-spinner>
            </ng-container>
          </div>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>