:host {
  width: 600px;
  max-height: 600px;
  overflow-y: auto;
}

.label-field {
  display: block;
  margin: 10px 0;
}

ul, li {
  padding: 0;
  list-style: none;
}

.label-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.label-container > app-label-field {
  margin: 5px;
  flex: 0 1 200px;
}