.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form__description {
  margin-bottom: 20px;
}

.form__title {
  margin-bottom: 40px;
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.form__submit > mat-spinner {
  margin-left: 20px;
}