<form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <h1 class="form__title">Change Password</h1>
  <p class="form__description">Please enter your credentials</p>
  <mat-form-field appearance="standard">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username">
    <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required">
        Username required.
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Old password</mat-label>
    <input matInput type="password" formControlName="oldPassword">
    <mat-error *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
      <div *ngIf="oldPassword.errors">
        <div *ngIf="oldPassword.errors.required">
          Password required.
        </div>
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>New password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors">
        <div *ngIf="password.errors.required">
          Password required.
        </div>
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <div *ngIf="confirmPassword.errors">
        <div *ngIf="confirmPassword.errors.matchPassword">
          Passwords do not match
        </div>
      </div>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
    <div class="form__submit">
      <span>Submit</span>
      <ng-container *ngIf="loading">
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-container>
    </div>
  </button>
  <div class="links-container">
    <a mat-button routerLink="/main">Preview only</a>
    <a mat-button routerLink="/auth/register">Register</a>
    <a mat-button routerLink="/auth/login">Login</a>
  </div>
</form>