:host {
  display: flex;
  flex: 1 1 auto;
}

.side-image {
  max-width: 50%;
  flex: 1 1 auto;
}

.side-routes {
  width: 50%;
  margin: auto;
}

.side-routes__form {
  min-height: 500px;
  width: 500px;
  margin: auto;
}