:host {
  display: flex;
  flex: 1 1 auto;
}

.side-image {
  max-width: 50%;
  flex: 1 1 auto;
  max-height: 100vh;
  object-fit: contain;
  background: linear-gradient(to bottom, #66ffff 0%, #cc99ff 100%);
}

.side-routes {
  width: 50%;
  margin: auto;
}

.side-routes__form {
  min-height: 500px;
  width: 500px;
  margin: auto;
}