<button mat-icon-button (click)="onNavigationClick()" class="navigation">
  <mat-icon class="icon">menu</mat-icon>
</button>
<div class="title">Job Fair 2019</div>
<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="icon">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a *ngIf="role === UserRole.Student" routerLink="/main/students/{{id}}" mat-menu-item>Profile</a>
    <a *ngIf="role === UserRole.Company" routerLink="/main/companies/{{id}}" mat-menu-item>Profile</a>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</div>