.contest-card {
  margin: 20px 0;
}

.contest-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-list-item > .position {
  width: 160px;
}

.empty-state {
  text-align: center !important;
  padding-top: 40px !important;
}