<h1 mat-dialog-title>Update Application</h1>
<div mat-dialog-content>
  <form [formGroup]="updateForm" class="form-content">
    <mat-form-field *ngIf="action === 'reject'">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    <ng-container *ngIf="action !== 'reject'">
      <h2 mat-dialog-title>Available Schedules</h2>
      <ul formArrayName="schedules">
        <li class="schedule-item" *ngFor="let scheduleCtrl of scheduleControls;let i = index">
          <div mat-line class="mat-typography" class="schedule-ctrl">
            <mat-checkbox color="primary" [formControl]="scheduleCtrl">
              <span>{{schedules[i].area}}</span>
            </mat-checkbox>
            <span class="mat-typography schedule-type">{{schedules[i].type}}</span>
          </div>
          <div mat-line class="mat-typography schedule-dates">
            <span>From {{schedules[i].from | date: 'medium'}}</span>
            <span>To {{schedules[i].to | date: 'medium'}}</span>
          </div>
        </li>
      </ul>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>